
.dialogs{
  display: grid;
  grid-template-columns:  2fr 10fr;
}


.dialogs_items{
  background-color:green;
}

.dialog a{
  color:white;
  text-decoration: none;
  font-size: large;
}

.messages{
  background-color: green;
}

.message{
  color: white;
}